html 
  head 
    title Deduplication 
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="/public/images/favicon.ico", type="image/x-icon")
    block styles
      link(rel="stylesheet", href="/public/styles/login.css")
    block modules 
      script(src="https://registry.npmmirror.com/crypto-js/4.2.0/files/crypto-js.js")
      script(src="https://registry.npmmirror.com/axios/1.6.8/files/dist/axios.min.js") 
      script(src="https://registry.npmmirror.com/jquery/3.7.1/files/dist/jquery.min.js")  
      script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
  body 
    block content
    block scripts 
      script(src="/public/scripts/global.js")